.content
  %header
    %h1 kpt.hrysd.org

  .new-kpt-form
    %h2 KPT を始める

    = form_for @board do |f|
      .form-item
        = f.label :title do
          タイトル
          %span(style='color: #E25926') *
        = f.text_field :title

      .form-item
        = f.label :permalink, 'パーマリンク'
        = f.text_field :permalink

      .form-item
        = f.submit 'KPT を始める'

  .new-kpt-form.notice
    %a(href='http://amzn.to/2mDFpFd') KPT とは?

    %p 推奨ブラウザ

    %a(href='https://www.google.co.jp/chrome/browser/desktop/') Google Chrome

  %footer
    %p
      ©︎
      %a(href='https://twitter.com/hrysd') @hrysd
      All rights reserved.
