%header
  %h1= @board.title

.board
  .panel
    %section.keep
      %header
        %h2 keep

      %ul
        - @board.remarks.keep.each do |keep|
          %li{data: {id: keep.id}}
            %p= keep.content
            %i.fa.fa-times

      %form.inline-form{data: {resource: 'keeps', param: 'keep'}}
        .form-item
          %input(type='text')

        .form-button
          %button Add

    %section.problem
      %header
        %h2 Problem

      %ul
        - @board.remarks.problem.each do |keep|
          %li{data: {id: keep.id}}
            %p= keep.content
            %i.fa.fa-times

      %form.inline-form{data: {resource: 'problems', param: 'problem'}}
        .form-item
          %input(type='text')

        .form-button
          %button Add

  .panel
    %section.tri
      %header
        %h2 Try

      %ul
        - @board.remarks.tri.each do |keep|
          %li{data: {id: keep.id}}
            %p= keep.content
            %i.fa.fa-times

      %form.inline-form{data: {resource: 'tries', param: 'tri'}}
        .form-item
          %input(type='text')

        .form-button
          %button Add

:javascript
  // TODO: tmp
  const permalink = "#{params[:permalink]}";

  function appendRemark(kind, id, content) {
    $(`.${kind} ul`).append(`<li data-id=${id}><p>${content}</p><i class='fa fa-times'></i></li>`);
  }

  function removeRemark(kind, id) {
    $(`.${kind} ul li`).each((_, li) => {
      if (Number($(li).data('id')) === id) {
        $(li).remove();
      }
    });
  }

  const subscription = App.cable.subscriptions.create(
    {
      channel: 'RemarksChannel',
      permalink: permalink
    }, {
    connected: function() {
      console.log('connected');
    },
    disconnected: function() {
      console.log('disconnected');
    },
    received: function({event_name, data}) {
      switch(event_name) {
        case 'keep:created':
        case 'problem:created':
        case 'tri:created':
          appendRemark(data.kind, data.id, data.content);
          break;
        case 'keep:deleted':
        case 'problem:deleted':
        case 'tri:deleted':
          removeRemark(data.kind, data.id);
          break;
      }
    }
  });

  $(function() {
    $('form').on('submit', function(e) {
      e.preventDefault();

      const input  = $(e.target).find('input');
      const button = $(e.target).find('button');

      const content  = input.val();
      const resource = $(e.target).data('resource')
      const kind     = $(e.target).data('param')

      const params = {};
      params[kind] = {content: content};

      input.prop('disabled', true);
      button.prop('disabled', true);

      $.post(`/api/${permalink}/${resource}`, params).then(() => {
        input.val('');

        input.prop('disabled', false);
        button.prop('disabled', false);
      });
    });

    $(document).on('click', '.fa.fa-times', function(e) {
      const confirmation = window.confirm('Are you sure you want to delete this?');

      if (!confirmation) return;

      const li = $(e.target).parent();
      const id = li.data('id');

      // FIXME: li -> ul -> form
      const resource = li.parent().siblings('form').data('resource');

      $.ajax({type: 'DELETE', url: `/api/${permalink}/${resource}/${id}`});
    });
  });
